USE [master]
GO
/****** Object:  Database [DemoEcsamenDB]    Script Date: 27.04.2026 11:42:19 ******/
CREATE DATABASE [DemoEcsamenDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoEcsamenDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MYSQLSERVERCOLL\MSSQL\DATA\DemoEcsamenDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoEcsamenDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MYSQLSERVERCOLL\MSSQL\DATA\DemoEcsamenDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoEcsamenDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoEcsamenDB]
GO
/****** Object:  Table [dbo].[CategoryTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nchar](30) NOT NULL,
 CONSTRAINT [PK_CategoryTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManufacturerTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManufacturerTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Manufacturer] [nchar](30) NOT NULL,
 CONSTRAINT [PK_ManufacturerTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurementTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurementTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Measurement] [nchar](20) NOT NULL,
 CONSTRAINT [PK_MeasurementTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateOrder] [date] NOT NULL,
	[DateDelivery] [date] NOT NULL,
	[StreetID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_OrderTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderToTovarTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderToTovarTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[TovarID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_OrderToTovarTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Product] [nchar](30) NOT NULL,
 CONSTRAINT [PK_ProductTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Provider] [nchar](30) NOT NULL,
 CONSTRAINT [PK_ProviderTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nchar](20) NULL,
 CONSTRAINT [PK_RoleTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nchar](20) NOT NULL,
 CONSTRAINT [PK_StatusTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StreetTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StreetTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[Town] [nchar](30) NOT NULL,
	[Street] [nchar](30) NOT NULL,
	[Home] [int] NULL,
 CONSTRAINT [PK_StreetTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TovarTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TovarTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Articule] [nchar](20) NOT NULL,
	[ProductID] [int] NOT NULL,
	[MeasurementID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[ProviderID] [int] NOT NULL,
	[ManufacturerID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Commentary] [nvarchar](max) NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_TovarTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 27.04.2026 11:42:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [nvarchar](30) NOT NULL,
	[SecondName] [nvarchar](30) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[ThirdName] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[IDRole] [int] NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoryTable] ON 

INSERT [dbo].[CategoryTable] ([ID], [Category]) VALUES (1, N'Женская обувь
               ')
INSERT [dbo].[CategoryTable] ([ID], [Category]) VALUES (2, N'Мужская обувь
               ')
SET IDENTITY_INSERT [dbo].[CategoryTable] OFF
GO
SET IDENTITY_INSERT [dbo].[ManufacturerTable] ON 

INSERT [dbo].[ManufacturerTable] ([ID], [Manufacturer]) VALUES (1, N'Kari                          ')
INSERT [dbo].[ManufacturerTable] ([ID], [Manufacturer]) VALUES (2, N'Marco Tozzi                   ')
INSERT [dbo].[ManufacturerTable] ([ID], [Manufacturer]) VALUES (3, N'Рос                           ')
SET IDENTITY_INSERT [dbo].[ManufacturerTable] OFF
GO
SET IDENTITY_INSERT [dbo].[MeasurementTable] ON 

INSERT [dbo].[MeasurementTable] ([ID], [Measurement]) VALUES (1, N'шт.
               ')
SET IDENTITY_INSERT [dbo].[MeasurementTable] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderTable] ON 

INSERT [dbo].[OrderTable] ([ID], [DateOrder], [DateDelivery], [StreetID], [UserID], [Code], [StatusID]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 4, 901, 1)
INSERT [dbo].[OrderTable] ([ID], [DateOrder], [DateDelivery], [StreetID], [UserID], [Code], [StatusID]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 1, 902, 1)
INSERT [dbo].[OrderTable] ([ID], [DateOrder], [DateDelivery], [StreetID], [UserID], [Code], [StatusID]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 2, 903, 1)
SET IDENTITY_INSERT [dbo].[OrderTable] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderToTovarTable] ON 

INSERT [dbo].[OrderToTovarTable] ([ID], [OrderID], [TovarID], [Amount]) VALUES (1, 1, 1, 2)
INSERT [dbo].[OrderToTovarTable] ([ID], [OrderID], [TovarID], [Amount]) VALUES (2, 2, 3, 1)
INSERT [dbo].[OrderToTovarTable] ([ID], [OrderID], [TovarID], [Amount]) VALUES (3, 3, 5, 10)
SET IDENTITY_INSERT [dbo].[OrderToTovarTable] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTable] ON 

INSERT [dbo].[ProductTable] ([ID], [Product]) VALUES (1, N'Ботинки                       ')
INSERT [dbo].[ProductTable] ([ID], [Product]) VALUES (2, N'Туфли                         ')
INSERT [dbo].[ProductTable] ([ID], [Product]) VALUES (3, N'Кроссовки                     ')
SET IDENTITY_INSERT [dbo].[ProductTable] OFF
GO
SET IDENTITY_INSERT [dbo].[ProviderTable] ON 

INSERT [dbo].[ProviderTable] ([ID], [Provider]) VALUES (1, N'Kari                          ')
INSERT [dbo].[ProviderTable] ([ID], [Provider]) VALUES (2, N'Обувь для вас                 ')
SET IDENTITY_INSERT [dbo].[ProviderTable] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleTable] ON 

INSERT [dbo].[RoleTable] ([ID], [RoleName]) VALUES (1, N'Администратор       ')
INSERT [dbo].[RoleTable] ([ID], [RoleName]) VALUES (2, N'Менеджер            ')
INSERT [dbo].[RoleTable] ([ID], [RoleName]) VALUES (3, N'Клиент
            ')
SET IDENTITY_INSERT [dbo].[RoleTable] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusTable] ON 

INSERT [dbo].[StatusTable] ([ID], [Status]) VALUES (1, N'Завершен            ')
INSERT [dbo].[StatusTable] ([ID], [Status]) VALUES (2, N'Новый               ')
SET IDENTITY_INSERT [dbo].[StatusTable] OFF
GO
SET IDENTITY_INSERT [dbo].[StreetTable] ON 

INSERT [dbo].[StreetTable] ([ID], [Number], [Town], [Street], [Home]) VALUES (1, 420151, N'Лесной                        ', N'Вишневая                      ', 32)
INSERT [dbo].[StreetTable] ([ID], [Number], [Town], [Street], [Home]) VALUES (2, 125061, N'Лесной                        ', N'Подгорная                     ', 8)
INSERT [dbo].[StreetTable] ([ID], [Number], [Town], [Street], [Home]) VALUES (3, 630370, N'Лесной                        ', N'Шоссейная                     ', 24)
SET IDENTITY_INSERT [dbo].[StreetTable] OFF
GO
SET IDENTITY_INSERT [dbo].[TovarTable] ON 

INSERT [dbo].[TovarTable] ([ID], [Articule], [ProductID], [MeasurementID], [Price], [ProviderID], [ManufacturerID], [CategoryID], [Discount], [Count], [Commentary], [Photo]) VALUES (1, N'А112Т4              ', 1, 1, 4990, 1, 1, 1, 3, 6, N'Женские Ботинки демисезонные kari', N'Res/1.jpg')
INSERT [dbo].[TovarTable] ([ID], [Articule], [ProductID], [MeasurementID], [Price], [ProviderID], [ManufacturerID], [CategoryID], [Discount], [Count], [Commentary], [Photo]) VALUES (2, N'F635R4              ', 1, 1, 3244, 2, 2, 1, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'Res/2.jpg')
INSERT [dbo].[TovarTable] ([ID], [Articule], [ProductID], [MeasurementID], [Price], [ProviderID], [ManufacturerID], [CategoryID], [Discount], [Count], [Commentary], [Photo]) VALUES (3, N'H782T5              ', 2, 1, 4499, 1, 1, 2, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'Res/3.jpg')
SET IDENTITY_INSERT [dbo].[TovarTable] OFF
GO
SET IDENTITY_INSERT [dbo].[UserTable] ON 

INSERT [dbo].[UserTable] ([ID], [Mail], [SecondName], [FirstName], [ThirdName], [Password], [IDRole]) VALUES (1, N'94d5ous@gmail.com', N'Весения', N'Николаевна', N'Никифорова', N'uzWC67', 1)
INSERT [dbo].[UserTable] ([ID], [Mail], [SecondName], [FirstName], [ThirdName], [Password], [IDRole]) VALUES (2, N'uth4iz@mail.com', N'Руслан', N'Германович', N'Сазонов', N'2L6KZG', 1)
INSERT [dbo].[UserTable] ([ID], [Mail], [SecondName], [FirstName], [ThirdName], [Password], [IDRole]) VALUES (3, N'yzls62@outlook.com', N'Серафим', N'Артёмович', N'Одинцов', N'JlFRCZ', 1)
SET IDENTITY_INSERT [dbo].[UserTable] OFF
GO
ALTER TABLE [dbo].[OrderTable]  WITH CHECK ADD  CONSTRAINT [FK_OrderTable_StatusTable] FOREIGN KEY([StatusID])
REFERENCES [dbo].[StatusTable] ([ID])
GO
ALTER TABLE [dbo].[OrderTable] CHECK CONSTRAINT [FK_OrderTable_StatusTable]
GO
ALTER TABLE [dbo].[OrderTable]  WITH CHECK ADD  CONSTRAINT [FK_OrderTable_StreetTable] FOREIGN KEY([StreetID])
REFERENCES [dbo].[StreetTable] ([ID])
GO
ALTER TABLE [dbo].[OrderTable] CHECK CONSTRAINT [FK_OrderTable_StreetTable]
GO
ALTER TABLE [dbo].[OrderTable]  WITH CHECK ADD  CONSTRAINT [FK_OrderTable_UserTable] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserTable] ([ID])
GO
ALTER TABLE [dbo].[OrderTable] CHECK CONSTRAINT [FK_OrderTable_UserTable]
GO
ALTER TABLE [dbo].[OrderToTovarTable]  WITH CHECK ADD  CONSTRAINT [FK_OrderToTovarTable_OrderTable] FOREIGN KEY([OrderID])
REFERENCES [dbo].[OrderTable] ([ID])
GO
ALTER TABLE [dbo].[OrderToTovarTable] CHECK CONSTRAINT [FK_OrderToTovarTable_OrderTable]
GO
ALTER TABLE [dbo].[OrderToTovarTable]  WITH CHECK ADD  CONSTRAINT [FK_OrderToTovarTable_TovarTable] FOREIGN KEY([TovarID])
REFERENCES [dbo].[TovarTable] ([ID])
GO
ALTER TABLE [dbo].[OrderToTovarTable] CHECK CONSTRAINT [FK_OrderToTovarTable_TovarTable]
GO
ALTER TABLE [dbo].[TovarTable]  WITH CHECK ADD  CONSTRAINT [FK_TovarTable_CategoryTable] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryTable] ([ID])
GO
ALTER TABLE [dbo].[TovarTable] CHECK CONSTRAINT [FK_TovarTable_CategoryTable]
GO
ALTER TABLE [dbo].[TovarTable]  WITH CHECK ADD  CONSTRAINT [FK_TovarTable_ManufacturerTable] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[ManufacturerTable] ([ID])
GO
ALTER TABLE [dbo].[TovarTable] CHECK CONSTRAINT [FK_TovarTable_ManufacturerTable]
GO
ALTER TABLE [dbo].[TovarTable]  WITH CHECK ADD  CONSTRAINT [FK_TovarTable_MeasurementTable] FOREIGN KEY([MeasurementID])
REFERENCES [dbo].[MeasurementTable] ([ID])
GO
ALTER TABLE [dbo].[TovarTable] CHECK CONSTRAINT [FK_TovarTable_MeasurementTable]
GO
ALTER TABLE [dbo].[TovarTable]  WITH CHECK ADD  CONSTRAINT [FK_TovarTable_ProductTable] FOREIGN KEY([ProductID])
REFERENCES [dbo].[ProductTable] ([ID])
GO
ALTER TABLE [dbo].[TovarTable] CHECK CONSTRAINT [FK_TovarTable_ProductTable]
GO
ALTER TABLE [dbo].[TovarTable]  WITH CHECK ADD  CONSTRAINT [FK_TovarTable_ProviderTable] FOREIGN KEY([ProviderID])
REFERENCES [dbo].[ProviderTable] ([ID])
GO
ALTER TABLE [dbo].[TovarTable] CHECK CONSTRAINT [FK_TovarTable_ProviderTable]
GO
ALTER TABLE [dbo].[UserTable]  WITH CHECK ADD  CONSTRAINT [FK_UserTable_RoleTable] FOREIGN KEY([IDRole])
REFERENCES [dbo].[RoleTable] ([ID])
GO
ALTER TABLE [dbo].[UserTable] CHECK CONSTRAINT [FK_UserTable_RoleTable]
GO
USE [master]
GO
